<style>
  .sonic-list-item {
    border: #eee solid 1px;
    border-radius: 5px;
    float: left;
    width: 250px;
    height: 200px;
    text-decoration: none;
    color: #0b0b0b;
    overflow: hidden;
  }
  .sonic-list-item .username {
    font-weight: bold;
    font-size: larger;
  }
  .sonic-list-item .created_at {
    font-size: smaller;
    font-weight: lighter;
  }
  .sonic-list-item:hover {
    background-color: #ede1d1;
  }
  .sonic-list-item img {
    max-width: 75px;
    max-height: 75px;
  }
  .sonic-list-item span {
    margin-left: 5px;
  }
</style>
<div>
  <% @sonics.each do |sonic|%>
    <a class="sonic-list-item" href="/sonic?s=<%= sonic.id%>">
      <img src="<%= sonic.sonic_thumbnail.to_s %>">
      <div>
        <span class="username"><%= sonic.user.username%></span>
        <span class="created_at"><%= sonic.created_at%></span>
      </div>
    </a>
  <% end %>
</div>