<html>
<head>

</head>
<body>
<% if @message %>
  <div style="color: #f00">
    <%= @message %>
  </div>
<% end %>
<form action="set_new_password" method="POST">
  <input type="hidden" name="validation_code" value="<%= @validation_code%>">
  <input type="hidden" name="email" value="<%= @email%>">
  <table>
    <tr>
      <td>password</td>
      <td>
        <input type="password" name="password">
      </td>
    </tr>
    <tr>
      <td>re password</td>
      <td>
        <input type="password" name="repassword">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Change">
      </td>
    </tr>
  </table>

</form>

</body>
</html>