<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

</head>

<body>
Please use the link below to reset your password

<a href="http://www.sonicraph.com/new_password?email=<%= @email%>&validation_code=<%= @validation_code%>" target="_blank">Reset Password</a>
</body>
</html>