<h2>Description</h2>

<p>Taking photo and capturing the surrounding sound with Sonicraph is simple yet fun way to take photos and saving perfect moments of your life.</p>

<p>With Sonicraph you can capture the sound around  while taking a photo, and we call that Photo+Sound as “sonic”.</p>

<p>We believe that moments create memories and every photo you take with Sonicraph will help you to create best memories. Sonicraph helps you to remember how you felt in that exact moments and brings back those feelings in years later.</p>

<p>Sonicraph has an easy to use interface which allows you to take the best shot. “Sound First” and “Photo First” options give you a chance to make your shots as you wish. You can record the surrounding sound up to 30 seconds and then you can trim that sound if needed.</p>
<p>Be creative and share your moments with whole world. You will be surprise by what you can do with Sonicraph.</p>
<p>Let’s find out what the earth sounds like.</p>

<h2>Features</h2>
<ul>
  <li>Take a photo with surrounding sound. ( Photo+Sound we call it  “Sonic” )</li>
  <li>Full camera options.</li>
  <li>Sound First Option: Capture the surrounding sound before you take the shot. (up to 30 seconds)</li>
  <li>Photo First Option: Take a photo then it will automatically start recording surrounding sound (up to 30 seconds)</li>
  <li>Add #hashtags to each sonic.</li>
  <li>Trim the unwanted audio if  needed.</li>
  <li>Share your sonics to Facebook within the app.                                                </li>
  <li>Tweet your Sonics.                                                                           </li>
  <li>Share your Sonics in WhatsApp                                                                </li>
  <li>Copy the URL’s and use on your blog.                                                         </li>
  <li>Follow people and get followers.                                                             </li>
  <li>Search #hashtags and find sonics.                                                            </li>
  <li>Share your Sonics in your timeline.                                                          </li>
  <li>Resonic if you like other’s Sonics and let your followers see them in your timeline.         </li>
  <li>Make comments on other’s Sonics.                                                             </li>
  <li>Like Sonics and save them in to your like’s page.                                            </li>
  <li>Get notification when someone follows you, likes your Sonics, comments or resonics your post.</li>
</ul>

<a href="http://itunes.apple.com/app/id828320730" target="_blank"><img src="/home/images/download.png"></a>


