<h2>Team</h2>

<p>
  <strong>Founder: </strong> <a href="http://twitter.com/DincerHazar" target="_blank">Dinçer Hazar</a><br/>
  <a href="mailto: danny@sonicraph.com" target="_blank">danny@sonicraph.com</a>
</p>

<p>
  <strong>Co-founder: </strong> <a href="http://twitter.com/yunuserenguzel" target="_blank">Yunus Eren Güzel</a> <br/>
  <a href="mailto: eren@sonicraph.com" target="_blank">eren@sonicraph.com</a>
</p>

<p>
  <strong>UI Designer: </strong> <a href="http://twitter.com/naymanart" target="_blank">Jacob Nayman</a> <br/>
  <a href="mailto: jacob@sonicraph.com" target="_blank">jacob@sonicraph.com</a>
</p>
